<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Local MySQL Connection -->
    <!--
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbo</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>-->
    
    <!-- Marketing DB MS SQL connection (Current CID) 
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://89.234.40.139;databaseName=TVU_30_07</property>
    <property name="hibernate.connection.username">xcritest</property>
    <property name="hibernate.connection.password">Luci360</property>
    -->
    
    <!-- New Markteing DB -->
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://172.31.2.21;databaseName=TVU_30_07</property>
    <property name="hibernate.connection.username">xcrilive</property>
    <property name="hibernate.connection.password">dvTC3eSf</property>
    
     <!-- Use the C3P0 connection pool provider -->
    <property name="hibernate.c3p0.min_size">1</property>     
    <property name="hibernate.c3p0.max_size">3</property>     
    <property name="hibernate.c3p0.timeout">300</property>       
    <property name="hibernate.c3p0.idle_test_periods">100</property> 

    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.connection.release_mode">auto</property>
    <mapping resource="uk/ac/uwl/luci/hb/XcriCourse.hbm.xml"/>
    <mapping resource="uk/ac/uwl/luci/hb/Subjects.hbm.xml"/>
    <mapping resource="uk/ac/uwl/luci/hb/XcriCourseinstance.hbm.xml"/>
    <mapping resource="uk/ac/uwl/luci/hb/Address.hbm.xml"/>
    <mapping resource="uk/ac/uwl/luci/hb/Contacts.hbm.xml"/>
  </session-factory>
</hibernate-configuration>